{% extends "base.twig" %}

{% block content %}
	<section class="page-section page-section--plugin">
		<div class="page-section__inner">

			<div class="page-section__content">
				{{ content }}
			</div>

		</div>
	</section>
{% endblock %}

{% block sidebar %}{% endblock %}
