<div class="post-nav-wrapper">
  <ul class="post-nav">
    {{prevpost}}
    <li class="post-nav__link post-nav__link--home">
      <a href="{{ fn('post_page_url') }}">View All Posts</a>
    </li>
    {{nextpost}}
  </ul>
<div> <!-- .post-nav-wrapper -->
